src/csharp/ZooKeeperConfiguration.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:zookeeper" xmlns:tns="urn:zookeeper">
  <xs:simpleType name="TraceLevel">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Off" />
      <xs:enumeration value="Error" />
      <xs:enumeration value="Warning" />
      <xs:enumeration value="Info" />
      <xs:enumeration value="Verbose" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="TracingConfiguration">
    <xs:annotation>
      <xs:documentation>
        The TracingConfiguration type contains various tracing-related configuration parameters.
        For production use, the default value of these parameters should be fine.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TraceLevelOverride" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            The TraceLevelOverride element provides a mechanism to allow the tracing level to be set differently for different
            parts of the Orleans system.
            The tracing level for a logger is set based on a prefix match on the logger's name.
            TraceLevelOverrides are applied in length order; that is, the override with the longest matching
            LogPrefix takes precedence and specifies the tracing level for all matching loggers.
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:attribute name="LogPrefix" type="xs:string" use="required">
            <xs:annotation>
              <xs:documentation>
                The LogPrefix attribute specifies a string prefix that is used to match against logger names.
                Logger names begin with one of "Runtime", "Grain", or "Application", followed by a period, followed by
                an application-dependent name (usually the name of the class writing the log entries).
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="TraceLevel" use="required" type="tns:TraceLevel">
            <xs:annotation>
              <xs:documentation>
                The TraceLevel attribute specifies the tracing level to use for use with loggers that match the associated LogPrefix.
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="DefaultTraceLevel" use="optional" type="tns:TraceLevel">
      <xs:annotation>
        <xs:documentation>
          The DefaultTraceLevel attribute loggers, unless overridden by a specific TraceLevelOverride element.
          The default level is Warning if this attribute does not appear.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:element name="ZooKeeperConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Tracing" type="tns:TracingConfiguration">
          <xs:annotation>
            <xs:documentation>
              The Globals element contains global configuration information that is not silo-specific.
              See the description of the GlobalConfiguration type, above, for details.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
